/* Загальні стилі для body (тіло документу) */
body {
    background-color: black; /* Задає чорний колір фону */
    display: flex; /* Задає властивість "flex" для всього тіла */
    flex-direction: column; /* Встановлює напрямок стовпця для всіх наступних елементів відносно тіла */
    align-items: center; /* Вирівнює елементи горизонтально по центру екрана */
    justify-content: center; /* Вирівнює елементи вертикально по центру екрана */
    margin-top: 0; /* Встановлює зовнішній відступ від верхнього краю документа на 0 */
}

/* Стилі для блоку з класом "light" */
.light {
    position: relative; /* Задає позицію відносно батьківського елемента */
    height: 380px; /* Задає висоту блоку */
    width: 500px; /* Задає ширину блоку */
    display: flex; /* Задає властивість "flex" для блоку */
    margin-top: 20px; /* Зовнішній відступ зверху */
    margin-left: 20px; /* Зовнішній відступ зліва */
    margin-right: 20px; /* Зовнішній відступ справа */
}

/* Стилі для зображення в блоку "light" */
.light img {
    position: absolute; /* Задає позицію відносно блоку "light" */
    top: 0; /* Розташовує зображення зверху блоку */
    left: 0; /* Розташовує зображення зліва блоку */
    height: 100%; /* Задає висоту зображення на 100% блоку */
    width: 100%; /* Задає ширину зображення на 100% блоку */
}

/* Стилі для псевдоелемента "::after" в блоку "light" */
.light:after {
    content: ""; /* Задає пустий контент для псевдоелемента */
    position: absolute; /* Задає позицію відносно блоку "light" */
    transition: all 0.4s; /* Задає анімацію для всіх змін, тривалість 0.4 секунди */
    height: 0; /* Задає початкову висоту 0 для псевдоелемента */
    width: 200px; /* Задає ширину псевдоелемента */
    top: -70px; /* Задає верхній відступ */
    left: 50%; /* Задає лівий відступ */
    transform: translateX(-50%) perspective(300px) rotateX(45deg); /* Здійснює трансформацію: зсув на 50% ширини вліво, зсув відносно перспективи, поворот на 45 градусів навколо вісі X */
    transform-origin: top center; /* Задає точку вихідного відліку для трансформації */
    background: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.55)); /* Задає градієнтний фон для псевдоелемента */
    z-index: 5; /* Задає індекс шару, щоб псевдоелемент знаходився поверх інших елементів */
    height: 60%; /* Задає кінцеву висоту для анімації */
}

/* Стилі для блоку з класом "border" */
.border {
    border: 1px solid white; /* Задає білий "кордон" з товщиною 1 піксель */
    margin-top: 40px; /* Зовнішній відступ зверху */
    color: white; /* Задає білий колір тексту */
    display: flex; /* Задає властивість "flex" для блоку */
    flex-direction: column; /* Встановлює напрямок стовпця для всіх наступних елементів відносно блоку */
    width: 550px; /* Задає ширину блоку */
    padding: 20px; /* Задає внутрішній відступ всередині блоку */
}

/* Стилі для заголовка "h2" в блоку "border" */
.border h2 {
    text-align: center; /* Вирівнює текст по центру */
    color: #736900; /* Задає золотистий колір для заголовка */
    margin-bottom: 10px; /* Задає відступ знизу заголовка */
}

/* Стилі для блоку з класом "description" */
.description {
    display: flex; /* Задає властивість "flex" для блоку */
    flex-direction: row; /* Встановлює напрямок рядка для всіх наступних елементів відносно блоку */
    align-items: center; /* Вирівнює елементи по вертикалі по центру блоку */
    justify-content: center; /* Вирівнює елементи по горизонталі по центру блоку */
    gap: 10%; /* Задає відстань між елементами */
}

/* Стилі для списку "ul" в блоку "description" */
.description ul {
    list-style-type: none; /* Відключає стандартну точку списку */
    padding: 0; /* Задає внутрішній відступ для списку на 0 */
}

/* Стилі для пунктів списку "li" в блоку "description" */
.description ul li::before {
    content: "☆"; /* Замінює стандартну точку на зірочку */
    color: #736900; /* Задає золотистий колір зірочки */
    margin-right: 5px; /* Задає відступ між зірочкою і текстом */
}

/* Стилі для пунктів списку "li" для вирівнювання тексту по центру */
.description ul li {
    text-align: left; /* Вирівнює текст по лівому краю */
    margin-bottom: 5px; /* Задає відступ між пунктами списку */
}

/* Медіазапит для екранів з максимальною шириною 600px */
@media (max-width: 600px) {
    .border {
        width: 400px; /* Змінює ширину блоку "border" на екранах з шириною 600px або менше */
    }
}
